@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url(https://i.pinimg.com/564x/a9/f3/b0/a9f3b03fdbabeb234cd49ff10fd03a91.jpg);
  background-repeat: repeat;
  box-sizing: border-box;
}

.card {
  text-align: center;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 18.3rem;
  width: 13rem;
  border-radius: 0.7rem;
  padding-top: 5rem;
  position: relative;
}

.top-suit {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  padding-left: 1rem;
}

.bottom-suit {
  position: absolute;
  top: 14rem;
  right: 0;
  font-size: 3rem;
  padding-right: 1rem;
  transform: rotateX(180deg);
}
.number {
  font-size: 5rem;
}

.redColor {
  color: red;
}
